<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Registration Form</title>

        <!-- load my libs -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/angular/angular.js"></script>

        <!-- load my app -->
        <script src="/index.js"></script>

    </head>
    <body ng-controller="RegCtrl as regCtrl">

        <div class="container">

            <h1>Registration Form</h1>

            <div class="row">
                <div class="col-md-12">
                    <form name="regForm" novalidate ng-submit="regCtrl.submit()">
                        <!--Name-->
                        <div class="form-group" ng-class="{'has-error': regForm.name.$invalid && regForm.name.$dirty}">
                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name" class="form-control"
                                    ng-model="regCtrl.name" required>
                            <span class="help-block" ng-if="regCtrl.isValid(regForm,'name')">Please enter name.</span>        
                        </div>
                        <!--Email-->
                        <div class="form-group" ng-class="{'has-error': !(regCtrl.validateEmail()) && regForm.email.$dirty}">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" class="form-control"
                                    ng-model="regCtrl.email" required>
                        </div>
                        <!--Country-->
                        <div class="form-group">                            
                            <label for="country">Country:</label>
                                <select class="selectpicker" ng-model="regCtrl.country" required>
                                    <option ng-repeat="country in regCtrl.country_list" value="{{ country }}">
                                        {{ country }}
                                    </option>
                                </select>                                
                        </div>
                        <!--Telephone-->                        
                        <div class="form-group" ng-class="{'has-error': !(regCtrl.validatePhone()) && regForm.phone.$dirty}">
                            <label for="phone">Contact Number:</label>
                            <input type="text" name="phone" id="phone" class="form-control" value=""
                                    ng-model="regCtrl.phone" required>
                        </div>
                        <!--Address-->
                        <div class="form-group" ng-class="{'has-error': regForm.address.$invalid && regForm.address.$dirty}">
                            <label for="address">Address:</label>
                            <input type="text" name="address" id="address" class="form-control" value=""
                                    ng-model="regCtrl.address" required>
                        </div>

                        <!--Date of Birth-->
                        <div class="form-group" ng-class="{'has-error': !(regCtrl.validateBirthdate()) && regForm.birthdate.$dirty}">
                            <label for="birthdate">Date of Birth:</label>
                            <input type="date" name="birthdate" id="birthdate" class="form-control" value=""
                                    ng-model="regCtrl.birthdate" required>
                                  
                        </div>
                        <!--Password-->
                        <div class="form-group" ng-class="{'has-error': !(regCtrl.validatePass()) && regForm.password.$dirty}">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control" value=""
                                    ng-model="regCtrl.password" required>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender:</label>
                            <div id="gender">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="male" value="male"
                                            ng-model="regCtrl.gender"> Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="female" value="female"
                                            ng-model="regCtrl.gender"> Female
                                </label>                                            
                            </div>
                        </div>                    
                        <div class="btn-group">
                            <button type="submit" class="btn btn-default" ng-disabled ="regForm.$invalid || !(regCtrl.check())">Submit</button>
                        </div>      
                    </form>
                </div>
            </div>
            <h2>{{regCtrl.message}}</h2>
        </div>

    </body>
</html>